.slick-wrapper {
    width: 100%;
    bottom: 0;
}

.slick-wrapper .slick-next {
    position: absolute;
    top: -9.5%;
    right: 20px;
    outline:none;
    color: var(--secondary-color);
    font-size: 14px;
    margin: 5px;
    padding: 5px 12px;
    background: var(--gray-color);
    opacity: 0.5;
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
}

.slick-wrapper .slick-prev{
    position: absolute;
    top: -9.5%;
    left: 20px;
    color: var(--secondary-color);
    font-size: 14px;
    margin: 5px;
    padding: 5px 12px;
    background: var(--gray-color);
    opacity: 0.5;
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
}

.slick-wrapper .slick-next:hover , .slick-wrapper .slick-prev:hover {
    cursor: pointer;
    background: var(--gray-color);
    box-shadow: rgba(49,40,59,20%) 0 1px 6px 0;
    color: var(--secondary-color);
}

.slick-wrapper .slick-dots { display: block;  padding: 0; margin: 0; list-style: none; line-height: 0;}
.slick-wrapper .slick-dots li { position: relative; top: -10px; align-content: center; text-align: center; display: inline-block; width: 0.9375rem; height: 0.9375rem; margin: 0 2rem; cursor: pointer;}
.slick-wrapper .slick-dots li:first-child {margin-left: 0;}
.slick-wrapper .slick-dots li:last-child {margin-right: 0;}
.slick-wrapper .slick-dots li button {font-size: 0; line-height: 0; display: block; width: 0.9375rem; height: 0.9375rem; padding: 0.3125rem; cursor: pointer; color: transparent; outline: none; border:none; background: rgba(165, 165, 165, 0.5); border-radius: 50%;}
.slick-wrapper .slick-dots li button:hover,
.slick-wrapper .slick-dots li button:focus,
.slick-wrapper .slick-dots li.slick-active button {outline: none; background-color: #434343; transition: all 300ms ease 0s; color: #919191;}


.carousel-category {
    padding-top: 10px;
    position: relative;
    display: block;
    box-shadow: rgba(49,53,59,30%) 0 1px 6px 0;
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
}

.slick-list {margin: 0 -5px;}
.slick-slide>div {padding: 0 5px;}

.carousel-category .card {
    display: block;
    box-shadow: rgba(49,53,59,30%) 0 1px 6px 0;
    margin-bottom: 24px;
    border: none;
    border-radius: 9px;
}

body.dark .carousel-category .card {
    box-shadow: inset 0 0 8px #2196f3;
}

.carousel-category .card-body {
    padding: 0.5rem;
    color: rgba(49, 53, 59, 0.96);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
}

.carousel-category .card-body p {
    font-weight: 900;
    min-font-size: 20px;
    padding: 0;
    margin: 0;
    word-wrap: break-word;
    line-height: 90%;
}

.carousel-category .image-product {
    border-radius: 9px;
}

/******************************
*         RESPONSIVE          *
******************************/

/*MIN WIDHT*/
@media (min-width: 640px) {

}

@media (min-width: 768px) {

}

@media (min-width: 1024px) {

}

@media (min-width: 1280px) {

}

@media (min-width: 1526px) {

}


/*MAX WIDHT*/
@media (max-width: 1526px) {
    .slick-wrapper .slick-prev{
        top: -11.5%;
    }
    .slick-wrapper .slick-next{
        top: -11.5%;
    }
}

@media (max-width: 1280px) {
    .slick-wrapper .slick-prev{
        top: -11.5%;
    }
    .slick-wrapper .slick-next{
        top: -11.5%;
    }
}

@media (max-width: 1024px) {
    .slick-wrapper .slick-prev{
        top: -14%;
    }
    .slick-wrapper .slick-next{
        top: -14%;
    }
}

@media (max-width: 768px) {

}

@media (max-width: 640px) {

}
