.carousel-promo-item {
    width: 100%;
    height: 100%;
}

.main-carousel-promo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: rgba(49,53,59,0.12) 0 1px 6px 0;
    background-color: rgb(255, 255, 255);
    border-radius: 9px;
}

.carousel-promo {
    border-radius: 9px;
    overflow: hidden;
}

.carousel-promo .owl-prev {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 37%;
    left: 0;
    display: block !important;
    border:0 solid black;
}

.carousel-promo .owl-next {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 37%;
    right: 0;
    display: block !important;
    border:0 solid black;
}

.carousel-promo .owl-prev i, .owl-next i {transform : scale(2); color: transparent;}
.carousel:hover .owl-prev i {transform : scale(2); color: var(--primary-color);}
.carousel:hover .owl-next i {transform : scale(2); color: var(--primary-color);}
